
{% extends 'base.html' %} {% block content %}
<div class="searchy">

{% if user.is_authenticated %}
<h1 id="homename">Search Anime</h1>
<form action="{% url 'searchbar' %}" method="get">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <input type="text" value="" name="search"  autocomplete="off"/>
    <input id="src" type="submit" value="Submit!" class="btn" />
  </form>
  {% else %}
  <h1 id="homenamee">Create your Anime List log in</h1>
  <img src="https://31.media.tumblr.com/0e4948b5868bc96c402b727bb8f37e9c/tumblr_n41rsjc2sE1smkwalo1_1280.gif" alt="" srcset="" width="200%">
<p></p>

</div>
{% endif %}
{% endblock %}
